@model IEnumerable<Item>
@{
    ViewData["Title"] = "Products";
}

<a asp-action="Create">
    
    Add item
</a>

@if (!Model.Any())
{
    <div>
        <p>No items were added yet.</p>
    </div>
}
else
{
    @foreach(Item item in Model){
        <div>
            <img src="@($"{FileSettings.ImagesPath}/{item.Img}")" />
            @item.ItemName
            @item.Price
            @item.
            <i class="fa-solid fa-info">
                <a asp-action="Details" asp-route-id="@item.ItemID">Info</a>
            </i>
            <i class="fa-solid fa-pen-to-square" asp-action="Details" asp-route-id="@item.ItemID"> 
                <a asp-action="Edit" asp-route-id="@item.ItemID">Edit</a>
            </i>
        </div>
    }
}
