@model IEnumerable<Item>
@{
    ViewData["Title"] = "Items";
}

<a asp-action="Create">
    
    Add item
</a>

@if (!Model.Any())
{
    <div>
        <p>No items were added yet.</p>
    </div>
}
else
{
    @foreach(Item item in Model){
        <div>
            <img src="@($"{FileSettings.ImagesPath}/{item.Img}")" />
            @item.ItemName
            <a asp-action="Details" asp-route-id="@item.ItemID">
                <i class="fa-solid fa-info">Info</i>
            </a>
            <a asp-action="Edit" asp-route-id="@item.ItemID">
                <i class="fa-solid fa-pen-to-square">Edit</i>
            </a>
            <form asp-action="Delete" asp-route-id="@item.ItemID" method="post" onsubmit="return confirmDelete()">
                <input type="hidden" name="_method" value="delete" />
                <button type="submit" >
                    <i class="fa-solid fa-trash">Delete</i>
                </button>
            </form>  
        </div>
    }
}
@section Scripts {
    <script src="~/js/site.js" asp-append-version="true"></script>
}
